.color{
    color:#ea4335;
}

.menu{
    background: #ea4335;
    width: 16rem;
    height: 30vh;
    position: fixed;
    transition: 1000ms;
    left: -100%;
    color: #e5e7eb;
    font-size: larger;
}
 
.menu.active {
    left: 0;
}

.intereses{
    display: flex;
    justify-content: center;
}

.interes.button{
    margin: 0.75rem;
    padding: 2rem  5rem 2rem 5rem;
    font-size: 24px;
    color: #c2f3c8;
    background-color: #ea4335;
    border-radius: 15px;
    box-shadow: 0.3rem 0.3rem 0.3rem 0rem #ff42426c; 
    cursor: pointer;
}
.interes.seleccionado{
    margin: 0.75rem;
    padding: 2rem  5rem 2rem 5rem;
    font-size: 24px;
    color: #ea4335;
    background-color: #c2f3c8;
    border-radius: 15px;
    box-shadow: 0.3rem 0.3rem 0.3rem 0rem #0cf8272c; 
}

.interes.button:active {  
    box-shadow: 0.3rem 0.5rem 0.3rem 0rem #ff42426c;
    transform: translateY(4px);
} 

.boxNextButton{
    display: flex;
    justify-content: center;
}

.nextButton{
    font-size: 24px;
    color: #ea4335;
    border-radius: 8em;
    border-color: #ea4335;
    transform: translateY(4px);
}
